<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="app-name">IT Service Dashboard</span>
    <span class="spacer"></span>
    <nav>
      <a mat-button routerLink="/home" routerLinkActive="active-link">Acceuil</a>
      <a mat-button routerLink="/admin/equipementList" routerLinkActive="active-link">Equipements</a>
      <a mat-button routerLink="/admin/ticket" routerLinkActive="active-link">Tickets</a>
      <a mat-button routerLink="/admin/users" routerLinkActive="active-link">Utilisateurs</a>
      <a mat-button routerLink="/ticket" routerLinkActive="active-link">Profil</a>
      <a mat-button routerLink="/login">connexion</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
