mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.app-name {
  font-size: 20px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: white;
}

.active-link {
  border-bottom: 2px solid #ffeb3b; /* Ligne jaune sous le lien actif */
}
