<style>
  .equipment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f7f9;

    margin-top: 10em;
  }

  .equipment-details {
    margin: 10px;
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
  }

  .custom-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  .custom-card:hover {
    transform: translateY(-5px);
  }

  .custom-title {
    font-size: 1.5em;
    color: #3f51b5;
    font-weight: bold;
  }

  .custom-subtitle {
    font-size: 1em;
    color: #757575;
  }

  .custom-content p {
    margin: 5px 0;
    font-size: 1em;
    color: #333333;
  }

  .custom-content strong {
    color: #3f51b5;
  }

  .text-bg-danger {
    color: white;
    background-color: #ff1744;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .equipment-details {
      flex: 1 1 100%;
    }
  }
</style>

<div class="equipment-container">
  <ng-container *ngIf="equipement$ | async as list; else failure"></ng-container>
  <div class="equipment-details" *ngFor="let e of equipement$ | async">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title class="custom-title">Équipement : {{ e.nom }}</mat-card-title>
        <mat-card-subtitle class="custom-subtitle">ID : {{ e.id_equipement }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="custom-content">
        <p><strong>Type :</strong> {{ e.type }}</p>
        <p><strong>Marque :</strong> {{ e.marque }}</p>
        <p><strong>État :</strong> {{ e.etats }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #failure class="text-bg-danger">
    {{errorMessage}}
  </ng-template>
</div>
